<div class="jumbotron" style="background: rgba(255,255,255,0.7);">
	<div class="row">
		<h1 align="center" class="textoUbuntu">Contato</h1>
		<p class="textoUbuntu">
			Entre em contatos conosco através do formulário ou através dos nossos contatos. Estamos sempre prontos a te atender da melhor forma possível!
		</p>
		<div class="col-md-6">
			<form id="form_contato">
				<fieldset>
					<div class="form-group">
	                    <input type="text" class="form-control" id="empresa" name="empresa" required="" placeholder="Empresa" data-form-field="Empresa">
	                </div>

		            <div class="form-group">
		                <input type="text" class="form-control" id="nome" name="nome" required="" placeholder="Nome" data-form-field="Nome">
		            </div>

		            <div class="form-group">
		                <input type="tel" class="form-control" id="telefone" name="telefone" required="" placeholder="Telefone" data-form-field="Telefone">
		            </div>

		            <div class="form-group">
		                <input type="email" class="form-control" id="email" name="email" required="" placeholder="E-mail" data-form-field="E-mail">
		            </div>

		            <div class="form-group">
		                <textarea class="form-control" id="mensagem" placeholder="Mensagem" required=""></textarea>
		            </div>

	                <div>
		                <center>
		                	<a class="btn btn-success btn-lg" id="enviar" onclick="mandaEmail();">Enviar</a>
		                	<input class="btn btn-warning" type="reset" id="limpar" value="Limpar">
		                </center>
	                </div>
				</fieldset>			
            </form>
		</div>

		<div class="col-md-6">
			<p>
				<span class="glyphicon glyphicon-envelope"></span>&nbsp<a href="mailto:m3tdesenvolvimento@hotmail.com">m3tdesenvolvimento@hotmail.com</a>
			</p>

			<p>
				<span class="glyphicon glyphicon-earphone"></span>&nbsp<a href="tel:11959472884">(11) 95947-2884 (WhatsApp)</a>
			</p>

			<p>
				<span class="glyphicon glyphicon-earphone"></span>&nbsp<a href="tel:11955806463">(11) 95580-6463 (WhatsApp)</a>
			</p>

			<p>
				<i class="socicon socicon-facebook"></i>&nbsp<a href="http://fb.com/m3tdesenvolvimento" target="_blank">M3T Desenvolvimento</a>
			</p>
		</div>
	</div>
</div>