<div class="row">
	<h1 align="center" class="textoBonito">Contato</h1>
	<div class="col-md-6">
		<p>
			Estamos aguardando ansiosamente pelo seu contato! Estamos sempre a postos para te atender da melhor forma possível, do jeito que você e a sua empresa merecem!
		</p>
	</div>

	<div class="col-md-6">
		<p>
			<strong>Email: </strong> <a href="mailto:m3tdesenvolvimento@hotmail.com">m3tdesenvolvimento@hotmail.com</a>
		</p>

		<p>
			<strong>Telefone 1: </strong> <a href="tel:11959472884">(11) 95947-2884 (WhatsApp)</a>
		</p>

		<p>
			<strong>Telefone 2: </strong> <a href="tel:11955806463">(11) 95580-6463 (WhatsApp)</a>
		</p>

		<p>
			<strong>Facebook: </strong> <a href="http://fb.com/m3tdesenvolvimento" target="_blank">M3T Desenvolvimento</a>
		</p>
	</div>
</div>