<div class="jumbotron" style="background: rgba(255,255,255,0.7);">
	<div class="row">
		<h1 align="center" class="textoUbuntu">Contato</h1>
		<div class="col-md-6">
			<p class="textoUbuntu">
				Estamos aguardando ansiosamente pelo seu contato! Estamos sempre a postos para te atender da melhor forma possível, do jeito que você e a sua empresa merecem!
			</p>
		</div>

		<div class="col-md-6">
			<p>
				<span class="glyphicon glyphicon-envelope"></span>&nbsp<a href="mailto:m3tdesenvolvimento@hotmail.com">m3tdesenvolvimento@hotmail.com</a>
			</p>

			<p>
				<span class="glyphicon glyphicon-earphone"></span>&nbsp<a href="tel:11959472884">(11) 95947-2884 (WhatsApp)</a>
			</p>

			<p>
				<span class="glyphicon glyphicon-earphone"></span>&nbsp<a href="tel:11955806463">(11) 95580-6463 (WhatsApp)</a>
			</p>

			<p>
				<i class="socicon socicon-facebook"></i>&nbsp<a href="http://fb.com/m3tdesenvolvimento" target="_blank">M3T Desenvolvimento</a>
			</p>
		</div>
	</div>
</div>