<div class="carousel slide" id="carousel-482428" style="left:0px;">
	<ol class="carousel-indicators">
	    <li data-slide-to="0" data-target="#carousel-482428">
	    </li>
	    <li data-slide-to="1" data-target="#carousel-482428">
	    </li>
	    <li data-slide-to="2" data-target="#carousel-482428">
	    </li>
		<li data-slide-to="3" data-target="#carousel-482428">
	    </li>
	</ol>
	
	<div class="carousel-inner">
		<div class="item active">
	        <img alt="Imagem2" src="image/img2.jpg" />
	        <div class="carousel-caption">
	        </div>
	    </div>

	    <div class="item next">
	    	<img alt="Imagem1" src="image/img1.jpg" />
	        <div class="carousel-caption">
	        </div>
	   	</div>

	    <div class="item next">
	        <img alt="Imagem3" src="image/img3.jpg" />
	        <div class="carousel-caption">
	        </div>
	    </div>

	    <div class="item next">
	        <img alt="Imagem4" src="image/img4.jpg" />
	        <div class="carousel-caption">
	        </div>
	    </div>
	    
	</div>
	<a class="left carousel-control" href="#carousel-482428" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>

	<a class="right carousel-control" href="#carousel-482428" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<br>

<div class="jumbotron" style="background: rgba(255,255,255,0.7);">
	<div class="row">
		<center><img class="img img-responsive" src="image/m3t-logo.png"></center>
		<div class="col-md-6">
			<br>
			<p class="textoUbuntu">A M3T Desenvolvimento é uma empresa perfeita para o Marketing Digital da sua empresa!
			Venha conferir nossos planos e soluções. Estamos sempre dispostos a atendê-lo!</p>
		</div>

		<div class="col-md-6">
			<br>
			<center>
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fm3tdesenvolvimento&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</center>
		</div>
	</div>

	
</div>
