<div class="jumbotron" style="background: rgba(255,255,255,0.7);">
    <h1 align="center" class="textoUbuntu">Planos</h1>
    <p class="textoUbuntu">
        Conheça nossos planos pensados especialmente na sua empresa. 
    </p>
    <div class="table-responsive">
        <div class="membership-pricing-table">
            <table border="false" align="center">
                <tbody>
                    <tr>
                        <th></th>

                        <th class="plan-header plan-header-free">
                            <div class="pricing-plan-name">BÁSICO</div>

                            <div class="pricing-plan-price">
                                <sup>R$</sup>50<span>,00</span>
                            </div>

                            <div class="pricing-plan-period">mensal</div>
                        </th>

                        <th class="plan-header plan-header-blue">
                            <div class="pricing-plan-name">ESSENCIAL*</div>
                            <div class="pricing-plan-price">
                                <sup>R$</sup>300<span>,00</span>
                            </div>
                        </th>

                        <th class="plan-header plan-header-standard">
                            <div class="header-plan-inner">
                                <!--<span class="plan-head"> </span>-->
                                <span class="recommended-plan-ribbon">RECOMENDADO</span>
                                <div class="pricing-plan-name">PADRÃO*</div>
                                <div class="pricing-plan-price">
                                    <sup>R$</sup>1.200<span>,00</span>
                                </div>
                            </div>
                        </th>

                        <th class="plan-header plan-header-blue">
                            <div class="pricing-plan-name">PLUS*</div>
                            <div class="pricing-plan-price">
                                <sup>R$</sup>2.000<span>,00</span>
                            </div>
                        </th>

                        <th class="plan-header plan-header-blue">
                            <div class="pricing-plan-name">PREMIUM*</div>
                            <div class="pricing-plan-price">
                                <sup>R$</sup>3.500<span>,00</span>
                            </div>
                        </th>
                    </tr>

                    <tr>
                        <td><strong>Gerenciamento de rede social (cada uma)</strong></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    </tr>

                    <tr>
                        <td><strong>Consultoria em Marketing Digital</strong></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    </tr>

                    <tr>
                        <td><strong>Planejamento e alinhamento estratégico</strong></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    </tr>

                    <tr>
                        <td><strong>Desenvolvimento do site da empresa</strong></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    </tr>

                    <tr>
                        <td><strong>Desenvolvimento de aplicação mobile</strong></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    </tr>

                    <tr>
                        <td><strong>Treinamento do ERP MarketUP</strong></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    </tr>

                    <tr>
                        <td><strong>Campanha no AdWord Google</strong></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <strong>* Mensalidade de R$50,00 inclusa</strong>
        </div>
    </div>
</div>