<div class="row">
	<h1 align="center" class="textoBonito">Sobre</h1>
	<div class="col-md-12">
		<p>
			A M3T Desenvolvimento nasceu com o intuito de promover o conhecimento do Marketing Digital
			nas micro e pequenas empresas. Tudo começa quando dois amigos Tiago O. Barantini e Matheus S. Kruger resolvem realizarem seu sonho em comum: Empreender!
		</p>
		<p>
			Sempre com compromisso e seriedade, a M3T ajuda vários micro-empreendedores a mostrarem sua marca
			ao mundo de forma simples e descomplicada.
		</p>
	</div>
</div>