<div class="jumbotron" style="background: rgba(255,255,255,0.7);">
	<div class="row">
		<h1 align="center" class="textoBonito">Sobre</h1>
		<div class="col-md-12">
			<p>
				A M3T Desenvolvimento nasceu com o intuito de promover o conhecimento do Marketing Digital
				nas micro e pequenas empresas. Tudo começa quando dois amigos Tiago O. Barantini e Matheus S. Kruger resolvem realizarem seu sonho em comum: Empreender!
			</p>
			<p>
				Sempre com compromisso e seriedade, a M3T ajuda vários micro-empreendedores a mostrarem sua marca
				ao mundo de forma simples e descomplicada.
			</p>
		</div>

		<h2 class="textoBonito">Nossa Equipe</h2>
		<div class="col-md-6">
			<div class="card hovercard">
                <div class="cardheader" style="background: url('image/back-teso.png');">

                </div>
                <div class="avatar">
                    <img alt="" src="image/matheus.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://fb.com/mathkruger">Matheus da S. Kruger</a>
                    </div>
                    <div class="desc">Louco por natureza</div>
                    <div class="desc">Desenvolvedor por teimosia</div>
                    <div class="desc">Nerd por paixão</div>
                    <div class="desc">Estudante de ADS na Fatec-Itu</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-info btn-twitter btn-sm" target="_blank" href="https://twitter.com/_mathkruger">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a class="btn btn-primary btn-sm" target="_blank" href="https://fb.com/mathkruger">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="btn btn-success btn-sm" target="_blank" href="https://github.com/mathkruger">
                        <i class="socicon socicon-github"></i>
                    </a>
                </div>
            </div>
		</div>

		<div class="col-md-6">
			<div class="card hovercard">
                <div class="cardheader" style="background: url('image/back-tico.jpg');">

                </div>
                <div class="avatar">
                    <img alt="" src="image/tiago.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://fb.com/tiago.barantini">Tiago de O. Barantini</a>
                    </div>
                    <div class="desc">Amante de tecnologia</div>
                    <div class="desc">Nerd de coração</div>
                    <div class="desc">Estudante de GTI na Fatec-Itu</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-info btn-twitter btn-sm" href="https://twitter.com/Barantie" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a class="btn btn-primary btn-sm" href="https://linkedin.com/in/tiago-barantini-2bb821b8" target="_blank">
                        <i class="socicon socicon-linkedin"></i>
                    </a>

                    <a class="btn btn-primary btn-sm" target="_blank" href="http://fb.com/tiago.barantini">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
		</div>
	</div>
</div>